@import "bourbon"
@import "vars.sass"
@import "fonts.sass"
@import "sprite/sprite.sass"
@import "app/libs/slick/slick"
@import "app/libs/slick/slick-theme"
// @import "app/libs/jquery/jquery-ui.min"  //Если мы хотим подключить стили для  jquery-ui (например для рабочих tooltips)

html, body
	&.slidebars
		width: 100%
		overflow: hidden !important
body
	font-size: 18px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: $font_RobotoRegular
	overflow-x: hidden
	color: $main_txt_color
	-webkit-tap-highlight-color: transparent
	background: #fff
	//внешний вид скроллбара 
	scrollbar-base-color: $main_color   //для IE 
	scrollbar-arrow-color: $main_color	//для IE
	//внешний вид скроллбара для -webkit- остальное тут https://poselab.com/en/blog/custom-scrollbars-in-webkit/
	&::-webkit-scrollbar
		width: 12px
	&::-webkit-scrollbar-thumb
		background-color: $main_color
		&:hover
			background-color: darken($main_color, 10%)
	&::-webkit-scrollbar-track-piece
		background-color: transparent
	//-webkit-font-smoothing: antialiased
	//-moz-osx-font-smoothing: grayscale

h1
	color: #fff
	letter-spacing: 0.6px
p
	padding: 0
	margin: 0
	
.noselect
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none




// html .loader
// 	background: none repeat scroll 0 0 #ffffff
// 	bottom: 0
// 	height: 100%
// 	left: 0
// 	position: fixed
// 	right: 0
// 	top: 0
// 	width: 100%
// 	z-index: 9999
// 	.loader_inner
// 		background-image: url("../img/preloader.gif")
// 		background-size: cover
// 		background-repeat: no-repeat
// 		background-position: center center
// 		background-color: #fff
// 		height: 60px
// 		width: 60px
// 		margin-top: -30px
// 		margin-left: -30px
// 		left: 50%
// 		top: 50%
// 		position: absolute
.hidden
	display: none
// Модальное окно

.popup2
	width: 100%
	height: 100%
	background: rgba(0, 0, 0, 0.65)	
	position: fixed
	top: 0
	left: 0
	display: none
	overflow: auto
	z-index: 1000
.popup
	width: 100%
	height: 100%
	background: rgba(0, 0, 0, 0.65)	
	position: fixed
	top: 0
	left: 0
	display: none
	overflow: auto	
	z-index: 1000
	&.modal-slider
		display: block
		z-index: -1
		opacity: 0
		.dm-modal
			padding: 50px 30px 60px
			width: 1065px
			max-width: 1065px
			text-align: left
			.content-about
				width: 500px
				display: inline-block
				vertical-align: top
				color: $main_txt_color2
				.goods-title
					font: 32px $font_ROBOTO_BLACK
					margin: 0 0 50px
				.description
					margin-bottom: 75px
					.name-value
						padding: 23px
						border-top: 1px solid #efefef
						&.last
							border-bottom: 1px solid #efefef
					.name
						float: left
						font: 20px $font_ROBOTO_BLACK
					.value
						float: right
						font: 20px $font_RobotoRegular
						.select
							width: 70px
							.slct
								height: auto
								text-align: right
								font: 20px $font_RobotoRegular
								background: transparent
								color: $main_txt_color2
								box-shadow: none
								padding: 0 32px 0 0
								margin: 0
							.slct_arrow
								top: 0px
							.drop
								background: #fff
								top: 37px
								li
									color: inherit
					.price
						padding: 30px 0
						font-size: 36px
						.old
							font-family: $font_ROBOTO_BLACK
							color: $main_txt_color2
							text-decoration: line-through
							float: left
						.now
							font-family: $font_RobotoRegular
							color: $main_color
							float: right
				form
					text-align: center
					.modal_form_input_wrap
						width: 390px
						margin: auto
					input
						margin-bottom: 20px
						width: 100%
						height: 52px
						display: inline-block
						background: #fff
						color: #000
						padding: 0 0 0 17px
						border-radius: 10px
						font-size: 21px
						border: 1px solid #d8d8d8
						box-shadow: none
						&::-webkit-input-placeholder
							color: #000
						&:-moz-placeholder
							color: #000
						&::-moz-placeholder
							color: #000
						&:-ms-input-placeholder
							color: #000
					input[type=submit]
						margin: 0 15px
						width: 390px
						font-size: 21px
						@extend %main_btn
						&:hover
							@extend %main_btn_hover
			.slick-slider-container
				width: 470px
				margin-right: 30px
				display: inline-block
				vertical-align: top
				.slider-nav
					margin: 0 -10px
					.item
						img
							margin: auto
							border: 2px solid transparent
							border-radius: 12px
							transition: .3s
						&:focus
							outline: none !important
						&.slick-current
							img
								border: 2px solid $main_color
				.slider-for
					margin-bottom: 25px
			.slick-next,
			.slick-prev
				border-radius: 50%
				height: 50px
				width: 50px
				background: #000000
				opacity: 0.75
				z-index: 10
				transition: .2s
				&:before
					content: ''
					display: inline-block
					width: 14px
					height: 14px
					background: transparent

				&:hover
					opacity: 1
					background: $main_color
			.slick-next
				right: 20px
				&:before
					margin-right: 4px
					border-top: 2px solid #ffffff
					border-right: 2px solid #ffffff
					transform: rotate(45deg)
			.slick-prev
				left: 20px
				&:before
					margin-left: 4px
					border-top: 2px solid #ffffff
					border-left: 2px solid #ffffff
					transform: rotate(-45deg)
			.slick-dots
				padding: 0px
				margin: 0px
				bottom: -35px
				text-align: center
				li
					display: inline-block
					button
						&:before
							content: ''
							opacity: 1
							width: 10px
							height: 10px
							border-radius: 50%
							background: #e0e0e0
					&.slick-active
						button
							&:before
								content: ''
								background: $main_color
		&.active
			display: none
			z-index: 1000
			opacity: 1
	&.pop3
		.dm-modal
			width: inherit
			padding: 0
			border: none
			background-color: transparent
			ul
				padding: 0
			li
				list-style: none
				a
					font-size: 30px
					color: #fff

.dm-table
	display: table
	width: 100%
	height: 100%
.overlay
	width: 100%
	height: 100%
	position: fixed
	top: 0
	left: 0	
	z-index: 1001
.dm-cell
	display: table-cell
	padding: 0 1em
	vertical-align: middle
	text-align: center

.dm-modal
	width: 470px		
	max-width: 50em
	display: inline-block
	padding: 50px 46px 50px 46px
	text-align: center
	position: relative	
	animation: fade .8s
	background-color: #fff
	border-radius: 10px
	z-index: 1002
	&.table-size
		width: 1200px
		max-width: 1200px
		color: $main_txt_color2
		min-height: 925px
		.title-wrap
			margin-bottom: 45px
			h3
				font: 42px $font_ROBOTO_BLACK
				margin: 0 0 20px 0
			p
				font-size: 20px
				line-height: 2.1
		.content-size
			.head
				padding: 10px 35px
				border: 1px solid #a7a8ac
				border-bottom: 0
				.title
					float: left
					font-size: 20px
				.tabs-items-wrap
					float: right
					a
						display: inline-block
						color: $main_txt_color2
						transition: .2s
						font-size: 20px
						&:hover
							text-decoration: none
							color: $main_color
						&:active
							text-decoration: none
						&:focus
							text-decoration: none
						&.left
							margin-right: 35px
						&.active
							color: $main_color
							font-weight: 900
			.size-table
				.tabs-wrap
					display: none
					&.active
						display: block
				table
					width: 100%
					tr
						td
							padding: 10px 0
							border: 1px solid #a7a8ac
					thead
						font-weight: 900

	.modal_form_input_wrap
		position: relative
		display: block
		.modal_input_error
			width: 141px
			height: 35px
			display: none
			position: absolute
			right: -25px
			top: 40px
			padding-left: 10px
			font: 15px/35px $font_MyriadPro_Regular
			background-color: #F4F4F4
			border: 1px solid #C8C8C8
			-webkit-border-radius: 5px
			border-radius: 5px
			-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3)
			box-shadow: 0 0 10px rgba(0,0,0,.3)
			z-index: 100
			&.input_error_email
				width: 215px
			&.input_error_phone
				width: 235px
			&.form_error
				display: block
		.modal_error_chest_img
			width: 9px
			position: relative
			background-image: url('../img/modal_error_chest_img.png')
		.modal_error_triangle
			width: 9px
			position: relative
			background-image: url('../img/modal_error_triangle.png')
		.modal_error_chest_img
			top: -33px
			left: 0				
			height: 9px
		.modal_error_triangle
			top: -43px
			left: 10px				
			height: 8px			
		

	label
		margin-bottom: 7px
		margin-left: 5px
		text-align: left
		display: block
		font: 14px $font_MyriadPro_Bold
		color: $main_txt_color
		&.active
			color: $main_color
	input
		width: 100%
		height: 40px
		margin-bottom: 10px
		padding-left: 20px
		border: none		
		background-color: #F4F4F4		
		border-radius: 5px		
		box-shadow: 0 1px 0 rgba(0,0,2,.28)		
		transition: 1s
		&:focus		
			outline: 0
			box-shadow: 0 1px 0 rgba(255,81,46,.88)
	
	.success_mail
		display: none
		color: $main_color
		font: 24px $font_MyriadPro_Bold
		&.active
			display: block
	input[type=submit]
		margin-bottom: 0
		margin-top: 20px
		padding-left: 0
		padding-right: 0
		@extend %main_btn
		&:hover
			@extend %main_btn_hover		
		&:active		
			@extend %main_btn_active				
		&:focus
			@extend %main_btn_focus
			outline: 0
	.select
		position: relative
		text-align: left
		.drop
			width: 100%	
			max-height: 200px
			overflow: auto
			margin: 0 auto
			padding: 0
			border-top: none
			display: none
			position: absolute
			background-color: #F4F4F4
			top: 50px
			left: 0
			right: 0
			z-index: 10
			li
				list-style: none
				border-bottom: none
				border-top: none
				cursor: pointer
				display: block
				@include font($auxiliary_txt_color, 18px,  $font_MyriadPro_Bold, 1.2)
				padding: 7px 15px 7px 25px
				&:hover
					background-color: rgba(0,0,0,0.2)							
					outline: 0
				a
					text-decoration: none
		.slct
			width: 100%
			height: 40px
			padding-left: 25px
			margin-bottom: 30px
			display: block
			@include font(#000, 18px,  $font_MyriadPro_Bold, 1.2)
			background-color: #F4F4F4	
			line-height: 40px
			box-shadow: 0 1px 0 rgba(0,0,2,.28)	
			overflow: hidden
			white-space: nowrap
			text-overflow: ellipsis
			-o-text-overflow: ellipsis
			text-decoration: none
			position: relative
			transition: color 1s
			&.active
				color: #000
				background-color: #F4F4F4
				
		.slct_arrow
			position: absolute
			top: 5px
			right: 10px
			.fa
				font-size: 24px
				color: #000
				position: relative
				z-index: 10
				transition: 0.3s		
			&.active .fa
				transform: rotate(180deg)
.close
	position: absolute
	right: 25px
	top: 25px
	width: 35px
	height: 36px
	display: block
	background: url('../img/modal_close.png') 0 0 no-repeat
// конец модального

// всплывающие ошибки в формах
.modal_form_input_wrap
	position: relative
	display: block
	.modal_input_error
		width: 141px
		height: 35px
		display: none
		position: absolute
		right: -25px
		top: 40px
		padding-left: 10px
		font: 15px/35px $font_MyriadPro_Regular
		background-color: #F4F4F4
		border: 1px solid #C8C8C8
		-webkit-border-radius: 5px
		border-radius: 5px
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3)
		box-shadow: 0 0 10px rgba(0,0,0,.3)
		z-index: 100
		&.input_error_email
			width: 215px
		&.input_error_phone
			width: 235px
		&.form_error
			display: block
	.modal_error_chest_img
		width: 9px
		position: relative
		background-image: url('../img/modal_error_chest_img.png')
	.modal_error_triangle
		width: 9px
		position: relative
		background-image: url('../img/modal_error_triangle.png')
	.modal_error_chest_img
		top: -33px
		left: 0				
		height: 9px
	.modal_error_triangle
		top: -43px
		left: 10px				
		height: 8px			

// Header 
.header
	text-align: center
	min-height: 700px
	height: 100vh	
	background: url(../img/header_bg.jpg) no-repeat 50% 50%
	background-size: cover
.fixed-menu-container
	position: fixed
	z-index: 100
	width: 100%
	left: 0px
	right: 0
	margin: auto
	top: 0
	background: #fff
	color: $main_txt_color
	padding: 15px 0
.header
	.container
		height: 100%
		min-height: 100%
		position: relative


.header_logo
	display: inline-block
	margin-top: 49px
	margin-left: 15px
	a
		color: $main_txt_color
		font: 34px $font_ROBOTO_BLACK
		&:hover
			text-decoration: none

.header_nav		
	display: inline-block
	position: relative
	margin-left: 10px
	float: left
	ul
		margin: 0px
		padding: 0px
		li		
			list-style: none
			display: inline-block
			padding: 15px 0
			a
				margin-right: 39px
				color: $main_txt_color
				text-decoration: none
				transition: .2s
			&:hover
				a
					color: $main_color
.header-modal-wrap
	float: right
	margin-right: 19px
	padding-top: 3px
	.button
		width: 206px
		font-weight: 900
		font-size: 19px
.header_modal
	display: inline-block
	position: relative
	a
		margin-right: 37px
		padding: 17px  0
		@include font($main_txt_color, 18px, $font_RobotoRegular)
		border-radius: 10px
		text-decoration: none
		transition: .2s
		&:hover
			color: $main_color
	.delivery-container
		display: none
		opacity: 0
		padding-top: 50px
		left: -150px
		top: 35px
		position: absolute
	.delivery
		background: #fff
		color: $main_txt_color2
		top: 80px
		width: 700px
		border-radius: 12px
		transition: .3s
		padding: 30px 20px 30px 30px
		.top-row
			margin-bottom: 25px
		&:before
			content: ''
			display: inline-block
			width: 0px
			height: 0px
			border: 15px transparent
			color: #fff
			border-bottom: 15px solid
			border-right: 15px solid transparent
			border-left: 15px solid transparent
			position: absolute
			top: 35px
			left: 172px
		.img-wrap
			display: inline-block
			vertical-align: middle
			width: 145px

			img
				width: 100%
		.title
			margin-left: 15px
			display: inline-block
			vertical-align: middle
			font-weight: 900
			font-size: 18px
		.list
			margin: 0px
			padding: 0
			li
				padding-left: 35px
				list-style-type: none
				position: relative
				margin-bottom: 25px
				&:last-child
					margin-bottom: 0
				&:before
					content: ""
					width: 10px
					display: inline-block
					height: 10px
					position: absolute
					left: 0px
					top: calc(50% - 5px)
					border-radius: 50%
					background: $main_txt_color2
	.delivery-container
		&.guarantees
			left: -756px
			.delivery
				width: 1170px
				padding: 50px 85px
				&:before
					left: 825px
				.item
					width: 49%
					display: inline-block
					vertical-align: top
					font-size: 0
					padding-right: 35px
					h3
						font-size: 30px
						font-weight: 900
						margin: 0
						margin-bottom: 25px
					.text
						margin-bottom: 25px
						b
							font-size: 20px
							margin-bottom: 20px
						p
							font-size: 16px
						&:last-child
							margin-bottom: 0

	&.delivery-link
		&:hover
			.delivery-container
				display: block
				opacity: 1
	&.guarantees-link
		&:hover
			.delivery-container
				display: block
				opacity: 1
.header_wrap
	margin: auto
	position: absolute
	left: 0
	right: 0
	top: calc(50% - 217px)
	.header-title
		margin-bottom: 85px
		h1
			margin: 0
			@include font(#fff, 41px, $font_ROBOTO_BLACK)
		p
			@include font(#fff, 31px, $font_RobotoRegular)
			line-height: 1.4
	.services-steps
		margin-bottom: 95px
		.item
			position: relative
			&.arrow1,
			&.arrow2
				&:after
					content: ''
					top: 18px
					right: -45px
					display: inline-block
					position: absolute
					@include sprite($arrow)
			&.arrow2
				&:after
					content: ''
					transform: rotate(180deg)
					transform:  scale(1, -1)
					display: inline-block
					position: absolute
					top: 57px
					@include sprite($arrow)
			img
				margin-bottom: 6px
			p
				font-size: 16px
				color: #fff
	.button
		display: inline-block
		height: auto
		padding: 8px 0
		font-size: 20px
		&:hover
			text-decoration: none
			color: $main_color
		&:active
			text-decoration: none
			color: #fff
		&:focus
			color: #fff
			text-decoration: none


.header_bot_txt
	margin: auto
	position: absolute
	left: 0
	right: 0
	bottom: 50px
	text-align: center
	p
		font-size: 25px
		color: #fff


label
	display: inline-block
	max-width: 100%
	margin-bottom: 5px
	font-weight: 700


// Секция 
// Секция 
// Секция 